body{
    background-color: #87CEEB;
}

.container{

    max-width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    
}

.header{
    text-align: center;
    font-size: 18px;
    color:#333333

}

.style-resultado{
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-top: auto;
    font-weight: bold;
}

.style-form{
    max-width: 500px; 
    margin-top: 60px;
    margin: 0 auto; 
    padding: 20px; 
    background-color: #f9f9f9; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
}

.input-ciudad{
    width: 100%;
    padding: 10px; 
    margin-bottom: 15px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box;  
}

.style-select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box;  
}

.style-button{
    width: 100%;
    padding: 10px;
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

